body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
  overflow-y: hidden;
}

@media (max-width: 400px) {
  .game-title{
    width: auto;
  }
  
}

.game-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.error {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
  background-color: rgba(246, 6, 6, 0.5);
  height: 20px;
  width: 300px;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  text-align: center;
  max-height: 100vh;
  overflow-y: auto;
}

.board {
  width: 300px;
}

.row {
  display: flex;
}

.square {
  background: #333;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #444;
}

.x {
  color: #fff646;
}

.o {
  color: #00baff;
}

.status {
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
  background-color: #444;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

.name-input {
  width: 128px;
  height: 20px;
  padding: 8px;
  font-size: 13px;
  background: #333;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  outline: none;
}

.names {
  margin-bottom: 20px;
}

.name-input:hover {
  background-color: #444;
}

.restart-button {
  margin-top: 30px;
  margin-bottom: 100px;
  width: 96%;
  height: 30px;
  background: #333;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.restart-button:hover {
  background-color: #444;
}

.restart-button:active {
  background-color: #555;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.3);
  padding: 10px;
  text-align: center;
}
